:root {
  --cv-width: clamp(600px, 800px, 1200px);
  --cv-b: var(--cv-width);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  gap: 2em;
}

.view--CV {
  border: 1px solid darkgray;
  /* 1.4142; */
  width: var(--cv-b);
  aspect-ratio: 1 / 1.412;
  padding: 3% 5%;
  margin: 1em;
  background: whitesmoke;
}

.view-allContent {
  margin: 10px 30px;
  height: 100%;
  width: 100%;
}

.view--titleBlock {
  display: flex;
  justify-content: space-between;
}

.view--institution {
  font-size: 1em;
  font-weight: 500;
}

.card--block {
  border: 1px solid blue;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: rgb(9, 47, 59);
  width: min(80vw, 900px);
}
