body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  gap: 2em;
}

.view--block {
  border: 1px solid darkgray;
  aspect-ratio: 1 / 1.4142;
  height: min(85vh, 1600px);
  width: auto;
  padding: 2em;
  margin: 1em;
  background: whitesmoke;
}

.card--block {
  border: 1px solid blue;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: rgb(9, 47, 59);
  width: min(80vw, 900px);
}
